body {
    background-color: rgb(250, 251, 255);
}
.map-container{
overflow:hidden;
padding-bottom:48%;
height:0;
}
h2 {
    margin-top: 22px;
    text-transform: capitalize;
    font-size: 14px;
    color: aliceblue;
    display: grid;
    line-height: 0.2;


}


.bg-login {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}
.logout {
    margin: 15px 15px 15px 15px;
    padding-bottom: 8px;
    padding-top: 10px;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.navbar {
    padding: 0rem 1rem;
}
h5 {
  margin-bottom: 0px;
  color: #485879;
}
.logo {

    background-image: url(/images/bg.png);

    background-size: contain;

}

.desc {
text-transform: capitalize;
}
.dropdown-divider {
    height: 3px;
    margin: 1.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}
.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: space-between;
    display: flex;
    outline: 0;
}

.form-control {
    border: 1px solid #303a5929;
}
.form-control:focus {
    box-shadow: none;
}

.list-group-item:first-child {
    background-image: url("/images/bg.svg");
    background-size: 20%;
    background-repeat:  no-repeat;
}
.list-group {
    margin-bottom: 15px;


} 
.icone {
    width: auto;
    height: 30px;
}
.list-group-item:hover {
    border-color: rgb(230, 230, 230);
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 15px 0px rgb(238, 237, 237);
}
.meteo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.offset-1 {
    margin-left: 12.333333%;
}
input {
    height: 50px;
    display: flex;
}
button{
    height: 50px;
    margin-bottom: 10px;
}
.card {
    background-color: rgb(250, 251, 255);
    border: 0px solid;
    min-height: 100vh;
    padding-top: 20vh;
}

.list-group-item{
    height: 100px;

}

#MapsWorld {
  height: 100vh; 
 background-color: #e0e0e0;
}

